# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [2]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [3]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
newList1 = a[-3:]

In [6]:
# create a list of numbers from 1 to 20
newList2 = list(range(1, 21, 1))

In [8]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
newList3 = list(range(2, 101, 2))

In [11]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
def div(divident, divisor):
    if (divisor == 0):
        return 0
    return divident/divisor

In [13]:
# write a function that takes a string as input
# and return that string in all caps
def capStr(inString):
    return inString.upper()

In [15]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number
for num in range(1, 31, 1):
    if num%3==0 and num%5 ==0:
        print("fizzbuzz")
    elif num%3==0:
        print("fizz")
    elif num%5==0:
        print("buzz")
    else:
        print(num)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [17]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
Ahmos_menu = {"Gyro":9, "Burger":9, "Greek Salad":8, "Philly Steak":10}

In [20]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd
df = pd.read_csv("../data/starbucks.csv")

In [21]:
# output the calories, sugars, and protein columns only of every 40th row. 
df.iloc[::40][["calories","sugars","protein"]]

     calories  sugars  protein
0           3       0      0.3
40          5       0      0.4
80        350      58     15.0
120       140      20      6.0
160       110      24      2.0
200       200      41      3.0
240       180      35      3.0

In [ ]:
# select all rows with more than and including 400 calories

In [ ]:
# select all rows whose vitamin c content is higher than the iron content

In [ ]:
# create a new column containing the caffeine per calories of each drink

In [ ]:
# what is the average calorie across all items?

In [ ]:
# how many different categories of beverages are there?

In [ ]:
# what is the average # calories for each beverage category?